.box {
  border: 1px solid #e9e9e9;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  _moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #fff; }
  .box.box__border {
    border-top: 4px solid #fe583e; }
  .box h3 {
    font-size: 24px;
    font-weight: normal; }
  .box p {
    color: #444;
    font-size: 16px;
    font-weight: 400; }
  .box .edge_badge {
    background: #ff5735;
    color: #fff;
    width: 93px;
    height: 90px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 10px;
    font-size: 11px;
    font-weight: 300;
    -webkit-border-radius: 0 0 0 100%;
    border-radius: 0 0 0 100%; }
    .box .edge_badge i {
      font-size: 46px;
      display: block;
      margin-bottom: 0px; }
  /*.box .box_nav {
    border-top: 2px solid #d2d2d2;
    padding: 0 19px; }*/
    .box .box_nav .nav-item {
      padding: 0px 0px 0 10px;
      }
    .box .box_nav .nav_link {
      padding-bottom: 7px;
      color: #969696;
      font-weight: 300;
      border-bottom: 5px solid #fff;
      text-transform: uppercase; }
      .box .box_nav .nav_link.active {
        color: #fe583e;
        border-color: #fe583e;
        font-weight: bold;
      }
      .box .box_nav .nav_link:hover{
        color: #fe583e;
        border-color: #fe583e;
      }
  .box .box_middle {
    padding: 19px; }
    .box .box_middle::after {
      clear: both; }
  .box .box_footer {
    border-top: 1px solid #e9e9e9;
    padding-top: 19px;
    margin: 0 19px 19px 19px;
    color: #969696; }
