.navbar_brand {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar_brand:focus,
.navbar_brand:hover {
    text-decoration: none;
}

.navbar_nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar_nav .nav_link {
    padding-right: 0;
    padding-left: 0;
}

.navbar_text {
    display: inline-block;
    padding-top: .425rem;
    padding-bottom: .425rem;
}

.navbar_toggler {
    align-self: flex-start;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar_toggler:focus,
.navbar_toggler:hover {
    text-decoration: none;
}

.navbar_toggler_icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar_toggler-left {
    position: absolute;
    left: 1rem;
}

.navbar_toggler-right {
    position: absolute;
    right: 1rem;
}

@media (max-width: 575px) {
    .navbar_toggleable .navbar_nav .dropdown_menu {
        position: static;
        float: none;
    }

    .navbar_toggleable>.container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 576px) {
    .navbar_toggleable {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .navbar_toggleable .navbar_nav {
        flex-direction: row;
    }

    .navbar_toggleable .navbar_nav .nav_link {
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .navbar_toggleable>.container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .navbar_toggleable .navbar_collapse {
        display: flex !important;
        width: 100%;
    }

    .navbar_toggleable .navbar_toggler {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar_toggleable_sm .navbar_nav .dropdown_menu {
        position: static;
        float: none;
    }

    .navbar_toggleable_sm>.container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .navbar_toggleable_sm {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .navbar_toggleable_sm .navbar_nav {
        flex-direction: row;
    }

    .navbar_toggleable_sm .navbar_nav .nav_link {
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .navbar_toggleable_sm>.container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .navbar_toggleable_sm .navbar_collapse {
        display: flex !important;
        width: 100%;
    }

    .navbar_toggleable_sm .navbar_toggler {
        display: none;
    }
}

@media (max-width: 991px) {
    .navbar_toggleable_md .navbar_nav .dropdown_menu {
        position: static;
        float: none;
    }

    .navbar_toggleable_md>.container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 992px) {
    .navbar_toggleable_md {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .navbar_toggleable_md .navbar_nav {
        flex-direction: row;
    }

    .navbar_toggleable_md .navbar_nav .nav_link {
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .navbar_toggleable_md>.container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .navbar_toggleable_md .navbar_collapse {
        display: flex !important;
        width: 100%;
    }

    .navbar_toggleable_md .navbar_toggler {
        display: none;
    }
}

@media (max-width: 1199px) {
    .navbar_toggleable_lg .navbar_nav .dropdown_menu {
        position: static;
        float: none;
    }

    .navbar_toggleable_lg>.container {
        padding-right: 0;
        padding-left: 0;
    }

    .t85 {
        font-size: 85% !important;
    }

    .pl_pro_0 {
        padding-left: 0 !important;
    }

    .pr_pro_25 {
        padding-right: 25px !important;
    }
}

@media (min-width: 1200px) {
    .navbar_toggleable_lg {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .navbar_toggleable_lg .navbar_nav {
        flex-direction: row;
    }

    .navbar_toggleable_lg .navbar_nav .nav_link {
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .navbar_toggleable_lg>.container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .navbar_toggleable_lg .navbar_collapse {
        display: flex !important;
        width: 100%;
    }

    .navbar_toggleable_lg .navbar_toggler {
        display: none;
    }
}

.navbar_toggleable_xl {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.navbar_toggleable_xl .navbar_nav .dropdown_menu {
    position: static;
    float: none;
}

.navbar_toggleable_xl>.container {
    padding-right: 0;
    padding-left: 0;
}

.navbar_toggleable_xl .navbar_nav {
    flex-direction: row;
}

.navbar_toggleable_xl .navbar_nav .nav_link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.navbar_toggleable_xl>.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.navbar_toggleable_xl .navbar_collapse {
    display: flex !important;
    width: 100%;
}

.navbar_toggleable_xl .navbar_toggler {
    display: none;
}

.navbar-light .navbar_brand,
.navbar-light .navbar_toggler {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar_brand:focus,
.navbar-light .navbar_brand:hover,
.navbar-light .navbar_toggler:focus,
.navbar-light .navbar_toggler:hover {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar_nav .nav_link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar_nav .nav_link:focus,
.navbar-light .navbar_nav .nav_link:hover {
    color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar_nav .nav_link.disabled {
    color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar_nav .open>.nav_link,
.navbar-light .navbar_nav .active>.nav_link,
.navbar-light .navbar_nav .nav_link.open,
.navbar-light .navbar_nav .nav_link.active {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar_toggler {
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar_toggler_icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar_text {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-inverse .navbar_brand,
.navbar-inverse .navbar_toggler {
    color: white;
}

.navbar-inverse .navbar_brand:focus,
.navbar-inverse .navbar_brand:hover,
.navbar-inverse .navbar_toggler:focus,
.navbar-inverse .navbar_toggler:hover {
    color: white;
}

.navbar-inverse .navbar_nav .nav_link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-inverse .navbar_nav .nav_link:focus,
.navbar-inverse .navbar_nav .nav_link:hover {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-inverse .navbar_nav .nav_link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-inverse .navbar_nav .open>.nav_link,
.navbar-inverse .navbar_nav .active>.nav_link,
.navbar-inverse .navbar_nav .nav_link.open,
.navbar-inverse .navbar_nav .nav_link.active {
    color: white;
}

.navbar-inverse .navbar_toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-inverse .navbar_toggler_icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-inverse .navbar_text {
    color: rgba(255, 255, 255, 0.5);
}

.navbar .btn {
    margin: 11px 0;
    padding: 10px 20px;
}

@media (max-width: 544px) {
    .navbar .btn {
        margin: 15px 0;
        padding: 5px 10px;
    }
}

.navbar ul {
    list-style: none;
    margin: 22px 16px;
    padding: 0;
}

@media (max-width: 544px) {
    .navbar ul {
        margin: 9px 12px;
    }
}

.navbar ul li {
    float: left;
    margin: 0 10px;
}

.navbar ul li.active {
    font-weight: 600;
}

.navbar {
    height: 75px;
    /*changed from 70 px*/
    /*box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.1);*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 200;
}

/*.navbar > * {/*Removed by SA*/
/**
              float: left; }/**/
.navbar .logo {
    /*background-image: url(/images/LINUSWITTICH_logo.svg);*/
    background-repeat: no-repeat;
    width: 270px;
    height: 55px;
    margin: 15px 0px 14px 1em;
    /* Changed from (15px 0 14px 1em;) by SA*/
    background-size: auto 100%;
}

@media (max-width: 992px) {
    .order_md-last {
        -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
        order: 13;
    }

    .navbar .navi {
        display: none;
    }

    .navbar .btn {
        padding: 0.65rem 0.5rem;
        font-size: 0.875rem;
        border-radius: 0.2rem;
    }
}

@media (max-width: 544px) {
    .navbar {
        height: 75px;
    }

    .navbar .logo {
        width: 48px;
        height: 50px;
        margin: 10px 0 10px;
    }

    .navbar .btn {
        /*padding: 0.25rem 0.5rem;*/
        font-size: 0.875rem;
        border-radius: 0.2rem;
    }
}

.navbar .nav-right {
    float: right;
    z-index: 10;
    /*added by SA*/
    position: absolute;
    /*added by SA*/
    right: 10px;
    /*added by SA*/
    /*Changed from 0 for Samsung s5*/
    top: 0;
    /*added by SA*/
}

.navbar .nav-right>* {
    float: left;
}

.navbar .navi {
    position: relative;
}

.navbar .navi a {
    color: #444;
    font-weight: normal;
    padding: 3px 15px;
}

.navbar .navi a:hover {
    color: #0076c6;
}

.navbar .navi li:last-child {
    margin-right: 20px;
}

.navbar .navi::after {
    border-right: 0px solid #dfdfdf;
    content: '';
    position: absolute;
    right: 0;
    top: -18px;
    width: 1px;
    height: 62px;
}

.navbar .btn_default {
    font-family: 'FilsonPro' !important;
    background-color: #fff;
}

.navbar .menu_toggle_wrapper {
    padding: 20px;
    cursor: pointer;
    font-size: 0;
}

@media (max-width: 544px) {
    .navbar .menu_toggle_wrapper {
        padding: 25px;
    }
}
.navbar .navbar_nav {
    display: inline-block;
    float: none;
}
.screenreader {
    position: absolute;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}
.menu_toggle {
    position: relative;
    cursor: pointer;
    width: 34px;
    height: 22px;
    display: inline-block; }
    @media (max-width: 544px) {
    .menu_toggle {
        width: 23px;
        height: 16px; } }
    .menu_toggle:hover span,
    .menu_toggle:hover span:before,
    .menu_toggle:hover span:after {
      background-color: #666666; }
    .menu_toggle span {
      margin: 10px 0 0;
      top: 16px; }
      @media (max-width: 544px) {
        .menu_toggle span {
          margin-top: 7px; } }
    .menu_toggle span,
    .menu_toggle span:before,
    .menu_toggle span:after {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #999;
      border-radius: 1px;
      transition: background 0.1s ease, all 0.25s ease;
      cursor: pointer;
      outline: 1px solid transparent; }
    .menu_toggle span:before,
    .menu_toggle span:after {
      content: '';
      position: absolute; }
    .menu_toggle span:before {
      top: 0; }
    .menu_toggle span:after {
      bottom: 0; }
  
  body.menu_active .menu_toggle span {
    background-color: transparent;
    height: 0; }
  
  body.menu_active .menu_toggle span:before {
    top: 10px;
    transform: rotate(45deg); }
    @media (max-width: 544px) {
      body.menu_active .menu_toggle span:before {
        top: 7px; } }
  
  body.menu_active .menu_toggle span:after {
    bottom: 10px;
    transform: rotate(-45deg); }
    @media (max-width: 544px) {
      body.menu_active .menu_toggle span:after {
        bottom: 7px; } }
  